<nav id="navbar" class="top-0 z-50 flex items-center gap-2 mb-4 text-[#439A86]">
  <div class="">
    <div class="container mx-auto px-2">
      <ul class="flex justify-center space-x-6 py-4 relative">
        <li class="group relative">
          <a
            href="/"
            class="px-4 py-2 text-gray-300 transition-all duration-300 group-hover:text-white group-hover:bg-[#071c24] group-hover:bg-opacity-25 rounded-lg"
          >
            Home
          </a>
        </li>
        <li class="group relative">
          <a
            href="/projects"
            class="px-4 py-2 text-gray-300 transition-all duration-300 group-hover:text-white group-hover:bg-[#071c24] group-hover:bg-opacity-25 rounded-lg"
          >
            Projects
          </a>
        </li>
        <li class="group relative">
          <a
            href="/about-me"
            class="px-4 py-2 text-gray-300 transition-all duration-300 group-hover:text-white group-hover:bg-[#071c24] group-hover:bg-opacity-25 rounded-lg"
          >
            About Me
          </a>
        </li>
        <div
          class="absolute bottom-0 left-0 h-[3px] bg-white transition-all duration-300 w-0"
        >
        </div>
      </ul>
    </div>
  </div>
</nav>
