<section id="tech" class="mb-12">
  <div class="flex items-center mb-4">
    <div class="text-sm text-[#439A86] tracking-wider">Technologies</div>
    <div
      class="h-px bg-gradient-to-r from-[#439A86]/50 to-transparent flex-grow ml-4"
    >
    </div>
  </div>
  <div
    class="group bg-gradient-to-br from-gray-800/40 to-gray-700/20 p-6 rounded-lg shadow-xl backdrop-blur-sm border border-gray-700/30 mb-6"
  >
    <p class="text-sm text-gray-200 mb-6">
      Here are some of the key technologies I'm proficient in and enjoy using across my personal projects and work.
    </p>
    <div class="grid grid-cols-2 sm:grid-cols-3 gap-4 text-gray-200">
      <div class="flex items-center gap-2">
        <img src="src/assets/react.svg" alt="React" class="w-6 h-6" />
        React
      </div>
      <div class="flex items-center gap-2">
        <img src="src/assets/tailwind.svg" alt="Tailwind CSS" class="w-6 h-6" />
        Tailwind CSS
      </div>
      <div class="flex items-center gap-2">
        <img src="src/assets/astro.svg" alt="Astro" class="w-6 h-6" />
        Astro
      </div>
      <div class="flex items-center gap-2">
        <img src="src/assets/ts.svg" alt="TypeScript" class="w-6 h-6" />
        TypeScript
      </div>
      <div class="flex items-center gap-2">
        <img src="src/assets/js.svg" alt="JavaScript" class="w-6 h-6" />
        JavaScript
      </div>
      <div class="flex items-center gap-2">
        <img src="src/assets/node.svg" alt="Node.js" class="w-6 h-6" />
        Node.js
      </div>
    </div>
  </div>
</section>
